<!DOCTYPE html>
<html>
  <head>
    <title>Rails - Blog</title>
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   
    <header>
      <nav class="be-red white large-padding">
        <ul class="no-list row center-xs middle-xs">
          <li class="col-md"><h1 class="no-margin" id="logo">Rails - Blog</h1></li>
          <li class="col-md"><%= link_to "Inicio", root_path %></li>
          <li class="col-md">Diseño</li>
          <li class="col-md">Programación</li>
          <li class="col-md">Tecnología</li>
          <% if user_signed_in? %>
            <li class="col-md">
              <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %>
            </li>
          <%end%>
        </ul>
      </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
